
/* Accordion (class) styles */

/*.accordion {
	margin-top: 23px 0;
	line-height: 1.6;
	padding: 0;
}

.accordion > h3 {
	position: relative;
	font-size: 14px;
	padding: 0 0 0 50px;
	margin: 0 0 5px 0;
	cursor: pointer;
	line-height: 34px;
	background: #f1f2f3;
	color: #333;
	font-weight: normal;
}
.accordion > .block-container {
	height: 0;
	overflow: hidden;
}*/